version: "3.7"

services: 
    gitlab:
      image: 'gitlab/gitlab-ee:latest'
      hostname: 'gitlab'
      container_name: gitlab
      environment:
        GITLAB_OMNIBUS_CONFIG: |
          external_url 'https://192.168.221.1'
          gitlab_rails['gitlab_shell_ssh_port'] = 422
          # Add any other gitlab.rb configuration here, each on its own line
      ports:
        - '8083:80'
        - '8443:443'
        - '422:22'
      volumes:
        - 'gitlab_config:/etc/gitlab'
        - 'gitlab_logs:/var/log/gitlab'
        - 'gitlab_data:/var/opt/gitlab'
      networks: 
        - final-project

    jenkins:
      image: jenkinsci/blueocean
      ports:
        - '8081:8080'
        - '50000:50000'
      container_name: jenkins
      user: root
      environment:
        DOCKER_HOST: tcp://docker:2376
        DOCKER_CERT_PATH: /certs/client
        DOCKER_TLS_VERIFY: 1
      volumes:
        - jenkins_data:/var/jenkins_home
        - docker_certs:/certs/client:ro
        - .gitconfig:/root/.gitconfig
        - /etc/docker/daemon.json:/etc/docker/daemon.json
      networks: 
        - final-project
      depends_on:
        - docker

    docker:
      image: docker:dind
      privileged: true
      container_name: docker
      environment:
        DOCKER_TLS_CERTDIR: /certs
      volumes:
        - jenkins_data:/var/jenkins_home
        - docker_certs:/certs/client
        - docker_data:/var/lib/docker
        - /etc/docker/daemon.json:/etc/docker/daemon.json
      networks: 
        - final-project

    zabbix:
      image: zabbix/zabbix-appliance:latest
      container_name: zabbix
      ports: 
        - '8082:80'
        - '10051:10051'
      volumes: 
        - zabbix_data:/var/lib/mysql
        - zabbix_alert_script:/usr/lib/zabbix/alertscripts/
      networks: 
        - final-project

    registry:
      image: registry:2
      container_name: registry
      ports: 
        - '5000:5000'
      volumes: 
        - /etc/ssl/docrepo:/certs
        - docker_repo:/var/lib/registry
      networks: 
        - final-project

    registry-ui:
      image: parabuzzle/craneoperator:latest
      container_name: registry-ui
      ports:
        - "8086:80"
      environment:
        - REGISTRY_HOST=registry
        - REGISTRY_PORT=5000
        - REGISTRY_PROTOCOL=http
        - SSL_VERIFY=false
      networks: 
        - final-project
      
networks: 
    final-project:

volumes: 
    gitlab_config:
    gitlab_logs:
    gitlab_data:
    jenkins_data:
    zabbix_data:
    docker_repo:
    docker_data:
    docker_certs:
    zabbix_alert_script:

